@import "tailwindcss";

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
}

* {
  font-size: 20px;
  font-weight: bold;
}

.logo{

  font-size: 30px;

}

.mybody {

  background-image: url("/files/thumb-1920-71578.jpg");
  background-size: cover;

}